* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  color: #fff;
}
main {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

}
#root > header,
#root  > footer {
padding-block: 2rem;
position: relative;
z-index: 1;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 16px;
  margin-inline: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #c3c3c3;
}
